html, body {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	background: #fcfcfc;
	margin: 0;
	background: #efefef;
}

header {
	background: #d63d3d;
	h1 {
		margin: 10px;
		color: #eee;
	}
}

#gameContainer {
	width: 800px;
	height: 500px;
	border: 1px solid #bbb;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	background: white;
	margin: 40px auto;
	margin-bottom: 40px;
	box-sizing: border-box;
}
