doctype 5
html
  head
    title= "HELLO"
    link(rel='stylesheet', href="reset.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext')
    link(rel='stylesheet', href="style.css")
    script(src='main.js')
  body
    header
      h1 Platformer game
    section#container(role='main')!= body
